body {
    font-family: roboto;
}

html {
    scroll-behavior: smooth;
}

/* BUTTON SCROLL TOP */

#btnScrollTop {
    background-color: #4F9CD0;
    color: #fff;
    font-size: 30px;
    width: 60px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1;
}

.hidden {
    visibility: hidden;
    transition: all 0.5s;
    opacity: 0;
}

.show {
    visibility: visible;
    opacity: 1;
    animation: slide-up 0.4s ease;
}

/* animation button scroll */
@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(60px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


#btnScrollTop:active {
    transform: scale(0.9);
    transition: 0.1s;
} 

/* MENU */

#menu .nav-item a {
    font-size: 20px;
    color: #fff;
    margin-left: 5px;
}

#menu .nav-item a:hover {
    /* animation: slide-up 0.4s ease; */
    transition: all 0.3s;
    margin-top: -6px;
}

#menu .nav-item a:not(:hover) {
    transition: all 0.3s;
}

/* FOND BLEU */ 

header {
    height: 800px;
    background-image: url(https://i.ibb.co/Vgdjqrw/index-bg-header.png);
}

#fondbleu h1, #fondbleu h2 {
    font-size: 100px;
    color: #fff;
}

#fondbleu button {
    background-color: #1b85cd;
    color: #fff;
    font-size: 25px;
    width: 350px;
    height: 70px;
    border-radius: 50px;
}
    
/* mettre un box shadow au btn */

#fondbleu button:hover {

}

/* Carte dev des etu */

.row .card {
    border: none;
}

.row h5 {
    font-size: 20px;
    font-weight: bold;
}

#cartes .developper img {
    margin-left: 20px;
}

/* TOUS LES TITRES */

.GrandTitre h1 {
    font-size: 80px;
    font-weight: bold;
}

.GrandTitre p {
    font-size: 25px;
}

.GrandTitre p.tirets {
    font-size: 100px;
    font-weight: bold;
    color: #1b85cd;
}

#Apropos .GrandTitre p.tirets {
    font-size: 100px;
    font-weight: bold;
    color: #1b85cd;
}

/* A PROPOS GAUCHE */

#Apropos a.gauche {
    background-color: #4f9cd0;
    color: #fff;
    font-size: 25px;
    width: 280px;
    height: 51px;
    border-radius: 50px;
}

#Apropos p {
    font-size: 22px;
    text-align: justify;
}

/* A PROPOS DROITE */

#Apropos .titre {
    background-color: #1b85cd;
    color: #fff;
}

#Apropos .titre h2 {
    font-size: 25px;
}

#Apropos h3 {
    font-size: 22px;
}

#Apropos #utilisation p:first-child {
    background-color: #1b85cd;
    font-size: 22px;
    height: 44px;
}

#Apropos .card button.droite {
    font-size: 22px;
    background-color: #1b85cd;
    width: 70%;
    color: #fff;
}

#Apropos .card {
    background-color: #4f9cd0;
    color: #fff;
}

#Apropos .pouvoir p, #Apropos .pouvoir h4, #Apropos .pouvoir li  {
    font-size: 14px;
}

#Apropos #niveau ul li:first-child {
    background-color: #1b85cd;
}

#Apropos #niveau ul li:nth-child(2) {
    background-color: #fff;
    color: #1b85cd;
}

#Apropos #niveau ul li {
    list-style-type: none;
    font-size: 22px;
    width: 60px;
    height: 40px;
}

#description ul li {
    list-style: none;
}

.progression {
    margin-top: -18px;
}

#description .progress {
    height: 12px;
    margin-top: 13px;
}

#description .progress .progress-bar {
    background-color: #1b85cd;
}

/* ANIMATION PROGRESS BAR */

#firstProgression {
    animation: firstProgression 1s ease-in-out forwards;
}

#secondProgression {
    animation: secondProgression 1.1s ease-in-out forwards;
}

#thirdProgression {
    animation: thirdProgression 1.3s ease-in-out forwards;
}

#fourthProgression {
    animation: fourthProgression 1.6s ease-in-out forwards;
}

@keyframes firstProgression {
    from {
      width: 0;
    }
    to {
      width: 80%;
    }
  } 

  @keyframes secondProgression {
    from {
      width: 0;
    }
    to {
      width: 60%;
    }
  } 

  @keyframes thirdProgression {
    from {
      width: 0;
    }
    to {
      width: 70%;
    }
  } 

  @keyframes fourthProgression {
    from {
      width: 0;
    }
    to {
      width: 80%;
    }
  } 

  /* END ANIMATION PROGRESS BAR */

#description img {
    margin-top: 70px;
}

.border-age {
    border: 2px solid #fff;
}

.gras {
    font-weight: bold;
}

.modal-body, .modal-footer, .modal-header {
    background-color: #4f9cd0;
    color: #fff;
}

.modal-footer button {
    background-color: #1b85cd;
    color: #fff;
}

/* PORTFOLIO */

.card-img img {
    border-radius: 20px;
    box-shadow: 2px 2px 23px -9px rgba(0,0,0,0.75);
    cursor: pointer;
    width: 220px;
}

.card-img:hover {
    transition: 0.4s;
    opacity: 0.4;
    margin-top: -20px;
}

.card-img {
    position: absolute;
    z-index: -1;
}

.underline {
    background-color: #1b85cd;
    width: 50px;
    height: 5px;
    margin-left: 30px;
    margin-top: 20px;
}

.infos-portfolio-hidden {
    visibility: hidden;
}

.infos-portfolio-animate {
    animation: slide-up-portfolio 0.5s ease-in-out forwards;
}

@keyframes slide-up-portfolio {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.infos-portfolio p {
    text-align: justify;
    width: 70%;
    margin-left: 20px;
    margin-top: 20px;
    color: #515A5A;
    text-shadow: 0px 1px 0px rgba(81,90,90,0.75);
    font-size: 14px;
}

.infos-portfolio h1 {
    text-align: center;
    margin-right: 35px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 35px;
}

/* BANDEAU */

#bandeau {
    background-color: #b0d2ea;
    opacity: 45%;
    height: 155px;
    margin-top: 110px;
}

#bandeau .bandeau-g, #bandeau .bandeau-d {
    color: #fff;
    background-color: #4f9cd0;
    height: 60px;
    border-radius: 20px;
}

#bandeau .bandeau-m {
    color: #fff;
    background-color: #1b85cd;
    border-radius: 20px;
    height: 60px;
}

#bandeau .bandeau-g h4, #bandeau .bandeau-g p, #bandeau .bandeau-d h4, #bandeau .bandeau-d p, #bandeau .bandeau-m h4, #bandeau .bandeau-m p {
    font-size: 15px;
}

#bandeau .bandeau-g h4, #bandeau .bandeau-m h4, #bandeau .bandeau-d h4 {
    font-weight: bold;
}

/* COMPETENCES */

#html .progress-bar{
    background-color: #e46643;
    width: 0;
}

#htmlProgression {
    animation: progress-html 1s ease-in-out forwards;
}

@keyframes progress-html {
    from {
      width: 0;
    }
    to {
      width: 70%;
    }
  } 

#css .progress-bar{
    background-color: #297db5;
    width: 0;
}

#cssProgression {
    animation: progress-css 1.1s ease-in-out forwards;
}

@keyframes progress-css {
    from {
      width: 0;
    }
    to {
      width: 60%;
    }
  } 

#js .progress-bar {
    background-color: #fce37f;
    width: 0;
}

#jsProgression {
    animation: progress-js 1.2s ease-in-out forwards;
}

@keyframes progress-js {
    from {
      width: 0;
    }
    to {
      width: 45%;
    }
  } 

#react .progress-bar{
    background-color: #61DAFB;
    width: 0;
}

#reactProgression {
    animation: progress-react 1.2s ease-in-out forwards;
}

@keyframes progress-react {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  } 

#react .progress-bar #loading {
    font-size: 15px;
}

#wordpress .progress-bar{
    background-color: #BDC3C7;
    width: 0;
}

#wordpressProgression {
    animation: progress-wordpress 1.3s ease-in-out forwards;
}

@keyframes progress-wordpress {
    from {
      width: 0;
    }
    to {
      width: 50%;
    }
  } 

#photoshop .progress-bar{
    background-color: #1A5276;
    width: 0;
}

#photoshopProgression {
    animation: progress-photoshop 1.3s ease-in-out forwards;
}

@keyframes progress-photoshop {
    from {
      width: 0;
    }
    to {
      width: 60%;
    }
  } 

#anglais .progress-bar{
    background-color: #d04556;
    width: 0;
}

#englishProgression {
    animation: progress-anglais 1.4s ease-in-out forwards;
}

@keyframes progress-anglais {
    from {
      width: 0;
    }
    to {
      width: 90%;
    }
  } 

#redaction .progress-bar{
    background-color: #4c95c7;
    width: 0;
}

#redactionProgression {
    animation: progress-redaction 1.3s ease-in-out forwards;
}

@keyframes progress-redaction {
    from {
      width: 0;
    }
    to {
      width: 85%;
    }
  } 

#integration .progress-bar{
    background-color: #e46643;
    width: 0;
}

#integrationProgression {
    animation: progress-integration 1.6s ease-in-out forwards;
}

@keyframes progress-integration {
    from {
      width: 0;
    }
    to {
      width: 70%;
    }
  } 

article .progress, article .progress-bar {
    height: 35px;
}

.progress .progress-type {
    position: absolute;
    font-size: 16px;
    color: #fff;
}

.progress .progress-type .framework {
    font-size: 10px;
}

/* PARCOURS */

#parcours .border-parcours {
    border-left: 5px solid #1b85cd;
}

#parcours h2 span {
    font-size: 25px;
    font-weight: bold;
}

#parcours h2 {
    font-size: 20px;
}

#parcours h3 {
    color: #1b85cd;
    font-size: 18px;
    font-weight: bold;
}

#parcours ul li {
    font-size: 18px;
}

#parcours p.année {
    writing-mode: vertical-lr;
    font-size: 50px;
    font-weight: bold;
    display: inline-block;
}

/* CONTACT */

#contact textarea {
    height: 71%;
}

#contact input, #contact textarea {
    border: 1px solid #1b85cd;
    background-color: #b0d2ea;
    font-size: 20px;
}

#contact input {
    width: 410px;
    height: 50px;
}

#contact textarea {
    width: 437px;
    margin-bottom: 6px;
    height: 184px;
}

#contact button[type=submit] {
    width: 100%;
    background-color: #1b85cd;
    height: 50px;
    font-size: 20px;
}

#contact a i {
    font-size: 20px;
    color: #1b85cd;
}

#contact a {
    font-size: 18px;
    color: #000;
}

/* FOOTER */

footer {
    background-color: #4f9cd0;
    height: 46px;
    color: #fff;
}

footer p {
    position: relative;
    top: 25%;
}

footer a {
    color: #fff;
}

/* MEDIA QUERIES */

@media screen and (max-width:992px) {
    #bandeau {
        height: 380px;
    }
    #contact textarea {
        width: 100%;
    }
    #contact button {
        width: 100%;
    }
    #fondbleu h1, #fondbleu h2 {
        font-size: 50px;
    }
}
    
@media screen and (max-width:1430px) {
    #fondbleu h1, #fondbleu h2 {
        width: 800px;
    }
}


